<%= simple_form_for([@publication, @publication.comments.build]) do |f| %>
  <div id="comment-form">
    <label> Rating </label>
  </div>
  <%= f.input :commentaire %>
  <%= f.button :submit, :class => "btn btn-custom2"  %>
<% end %>

<script>
  $('#comment-form').raty({
    path: '/assets/',
    scoreName: 'comment[rating]'
  });
</script>
