<div class="col-md-6 col-md-offset-3">
  <div class="new-publication-form" >
    <h1> New Publication </h1>

    <p> <%= render 'form' %> </p>
  </div>
  <br>
  <p> <%= link_to "Back", root_path, class: "btn btn-custom" %> </p>

</div>
