
<div class="row">

  <div class="col-md-6">

    <div class="user-info">

      <h2 class="user-name"> <%= current_user.name %> </h2>
      <p class="itinerary-email"> <b> Email : </b> <%= @current_user.email %> </p>

    </div>

    <br>

      <div class="links btn-group">
        <%= link_to "Back", root_path, class: "btn btn-custom" %>

          <% if user_signed_in? %>
            <%= link_to "Edit", edit_user_path(@user), class: "btn btn-custom" %>
          <% end %>
      </div>

  </div>

</div>
